#edd-csv-importer-sidebar {
	width: 350px;
	background: #f1f1f1;
	padding: 10px;
	border-bottom: 1px solid #e3e3e3;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	float: right;
}

#edd-csv-importer-sidebar h3 {
	text-align: center;
}

#edd-csv-importer-sidebar p {
	margin-left: 10px;
}

#edd-csv-importer-sidebar p.edd-csv-importer-inset {
	margin: 0 10px;
	padding: 5px 10px;
	background: #fff;
	border-top: 1px solid #e3e3e3;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: smaller;
}

#edd-csv-importer-content {
	margin-right: 350px;
}

#edd-csv-importer-content span.edd-csv-importer-error {
	font-style: italic;
	color: #ff0000;
}
	
